* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  overflow: hidden;
}

.video {
  box-sizing: border-box;
}

body {
  cursor: url('../../public/ellipse.png'), pointer;

  font-family: 'Helvetica Neue', Arial, sans-serif;
  font-size: 16px;
  background-color: #1b2725;
  color: white;

  overscroll-behavior: none;
}

  h2 {
    color: #f1f1f1
  }

#webgl {
  width: 100vw;
  height: 100vh;
}

canvas {
  display: block;
}

.video {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
  pointer-events: none;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  opacity: 0.0;

  border: 1px #ff0000;
  width: 40vh;
  height: 68.5vh;
}
.video video {
  width: 100%;
}

.video2 {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
  pointer-events: none;
  opacity: 0;
  border: 3px solid #fff;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  width: 40vh;
  height: 68.5vh;
}
.video2 video {
  width: 100%;
}
/* main content html overlay*/

ul {
  list-style: none;
}
a {
  color: #f1f1f3;
  text-decoration: none;
}
/* grid content */
.content-overlay {
  position: absolute;
  padding: 20px;
}
.content-overlay {
  h2 {
    color: crimson;
    text-align: center;
  }
}
.flex-grid {
  display: flex;
}
.flex-grid .col {
  flex: 1;
  background: repeating-linear-gradient(45deg, #000111, transparent 100px);
  box-shadow: 1px 2px 8px palegreen;
  padding: 14px 18px;
  color: #f1f1f1;
  margin-top: 12px;
  margin-bottom: 12px;
  margin-left: 9px;
  margin-right: 9px;
  text-align: center;
  line-height: 1.2rem;
  transition: all 1s linear;
}
.flex-grid .col:hover {
  // padding: 5px 18px;
  transform: scale(1.02);
  color: #f1f1fe;
  background: repeating-linear-gradient(45deg, crimson, transparent 100px);
}
.flex-grid-thirds {
  display: flex;
  justify-content: space-between;
}
.flex-grid-thirds .col {
  width: 32%;
}

@media (max-width: 400px) {
  .flex-grid,
  .flex-grid-thirds {
    display: block;
   
  }
  .flex-grid-thirds .col {
    width: 100%;
    margin: 0 0 10px 0;
  }
}

.flex-grid { 
  margin: 0 0 20px 0;
}
.col {
  background: teal;
  padding: 20px;
}
